<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GUMPhoto</title>
  <script src="./jquery-2.1.1.js"></script>
  <script src="<%= rocketio_js %>"></script>
  <!-- <script src="./photo.js"></script> -->
</head>
<body>
  <canvas id="canvas" width="256" height="192"></canvas>
  <video id="video" style="width:100%;height:100%;" data-width="640" data-height="480"></video>
  
  <div>
  <button onclick="GUM.shutter();">写真を撮る</button>
  </div>
  
  <div>
    <button onclick="shutterStart();">開始</button>
    <button onclick="shutterStop();">終了</button>
  </div>
  
  <!--
  <img id="shutterButton" onclick="GUM.shutter();" width="100" height="100" src="./camera.png"></img>
  <h3><a id="retryLink" href="javascript:GUM.retry()">写真を撮り直す</a></h3>
  -->

  <script>
    var GUM = {};
    
    $(function(){
      
      var io = new RocketIO().connect();
      /*
      io.on("chat", function(data){
        alert(data.user + " : " + data.message);
      });

      io.on("connect", function(){
        io.push("chat", {user:"client", message:"hello,"});
      });
      */
     
      //io.on("photoview", function(data){
      //  alert(123);
      //});
      
      GUM.initCamera = function() {
        if (!navigator.webkitGetUserMedia) {
          alert('webkit系ブラウザでないか、もしくはgetUserMediaがサポートされていません');
        }
        navigator.webkitGetUserMedia({
            video : true
          },
          function(localMediaStream){
            GUM.video.src = window.URL.createObjectURL(localMediaStream);
            GUM.video.play();
          },
          function(err) {
            alert('カメラから映像を取得することができませんでした。');
            console.log(err);
          }
        );
      };
      
      GUM.shutter = function() {
        var context2d = GUM.canvas.getContext('2d');
        GUM.video.pause();
        //context2d.drawImage(GUM.video, 0, 0, 256, 192);
        context2d.drawImage(GUM.video, 0, 0, 256, 192);
        try {
          //io.push("photo", GUM.canvas.toDataURL().replace("data:image/png;base64,", ""));
          //io.push("photo", GUM.canvas.toDataURL().replace("data:image/jpeg;base64,", ""));
          io.push("photo", GUM.canvas.toDataURL("image/jpeg"));
          // http://www.html5.jp/canvas/ref/HTMLCanvasElement/toDataURL.html
          // canvas.toDataURL()はChromeではpngのみサポートしてるみたい。2013-05-29
          /*
          var imgData = GUM.canvas.toDataURL().replace("data:image/png;base64,", "");
          $.post(
              './photo/create',
              { 'img' : imgData }
              //alert('写真のアップロードが完了しました。')
          );
          */
        } catch (e) {
          console.log(e.message);
        }
        //$('#retryLink').show();
        GUM.video.play();
      };

      GUM.canvas = $('#canvas').hide()[0];
      GUM.video = $('#video')[0];
      GUM.initCamera();
      
      
    });
  </script>

  <script>
    var timer;
    
    var shutterStart = function() {
      clearInterval(timer);
      timer = setInterval("GUM.shutter()", 33.3);
    };
    
    var shutterStop= function() {
      clearInterval(timer);
    };
    
    //$(function(){
    //  setInterval("GUM.shutter()", 3000);
    //});
  </script>

</body>
</html>
