<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GUMPhoto</title>
  <script src="./jquery-2.1.1.js"></script>
  <script src="<%= rocketio_js %>"></script>
</head>
<body>
  <img id="video" width="256" height="192" src="">
  
  <script>
    var io = new RocketIO().connect();
    
    $(function(){
      io.on("photoview", function(data){
        $('#video').get(0).src = data;
      });
    });
    
  </script>
  
</body>
</html>
